@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&family=Kumbh+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
body {
  background-image: url("../assets/bg-pattern-top.svg"),
    url("../assets/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 47vw bottom 40vh, left 45vw top 44vh;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbah Sans", sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  text-align: center;
}
.card {
  max-width: 420px;
  background-color: whitesmoke;
  border-radius: 3%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.user-img {
  border-radius: 50%;
  border: 4px solid whitesmoke;
  margin-top: -50px;
}
.user-details h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 8px 0;
}
.user-details h3 span {
  margin: 0 5px;
  font-weight: 400;
}
.gray {
  opacity: 0.5;
}
.user-details p {
  font-size: 13px;
}
hr {
  margin: 30px 0 10px;
  opacity: 0.4;
}
.card-bottom ul {
  padding: 10px 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
}
.count {
  font-weight: 600;
  font-size: 15px;
}
.count-title {
  letter-spacing: 1px;
  opacity: 0.5;
  margin: 5px 0;
  font-size: 12px;
}
@media (max-width: 375px) {
  .container {
    margin: 0px;
  }
}
